<!Doctype html>
<!DOCTYPE html>
<html>
<head>
	<title>Alpha Blog About Page</title>
</head>
<body>
		<H1><CENTER>Welcome to my about page</CENTER></H1>
		<%= link_to 'Home', root_path %>
</body>
</html>