<!DOCTYPE html>
<html>
<head>
	<title>Alpha Blog About Page</title>
</head>
<body>
		<H1><CENTER>Welcome to my about page</CENTER></H1>
		<CENTER><%= link_to 'Home', root_path %>|<%= link_to 'Pics', pics_path %></CENTER>
</body>
</html>