<!DOCTYPE html>
<html>
<head>
	<title>Welcome to my Alpha Blog!</title>
</head>
<body>
	<H1><CENTER>Welcome to my Alpha Blog. <br>
				I hope you enjoy it!</CENTER></H1>
</body>
 <CENTER><%= link_to 'Pics', pics_path %>|<%= link_to 'About', about_path %></CENTER>
</html>